/* @override 
	http://localhost:4567/style.css
	http://localhost:4567/style/style.css
*/

body {
	font: 100% Verdana, "Lucida Grande", Lucida, sans-serif;
}

h1 {
	font: italic bold 2em Georgia, "Times New Roman", Times, serif;
}

h3 {
	font-size: 1.2em;
}

#log_text {
	font: .7em Courier, sans-serif;
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 18px;
	margin-bottom: 6px;
}

#log_text p {
	text-indent: -10px;
	padding-bottom: 4px;
	padding-top: 1px;
	border-bottom: 1px solid #eee;
}

#header {
	background-color: #333;
	color: #fff;
	padding: 8px;
}

p#logo_caption {
	padding-left: 1em;
	color: #ddd;
	font: italic .9em "Courier New", Courier, mono;
}

#info-bar {
	background-color: #4c4c4c;
	color: #fff;
	padding: 12px;
	font-size: .8em;
}

#path-info {
	
}

img#logo {
	float: right;
}

#log_select {
	float: right;
	width: 152px;
	text-align: right;
}

#process_control {
	float: right;
	width: 300px;
}

#path-info {
	width: 500px;
}

#path-update-time {
	font-size: .7em;
}

#footer {
	text-align: right;
	border-top: 8px solid #4c4c4c;
}

#footer_contents {
	margin: 8px 12px 12px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: block;
}

.label {
	font-style: italic;
}

img#spinner {
	top: 3px;
	position: relative;
}