<%= erb(:log_select, :layout => false) %>

<div id="path-info">
	<% if @log.name %>
		<h3><%= @log.name %></h3>
	<% end %>
	<p><span class="label">path: </span><%= @log.path %> <span id="path-update-time">(<%= @log.path_update %>)</span></p>
	<% if @log.pidfile %>
		
	<% end %>
</div>

