<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Sinatra Log Viewer</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$("#select_log").change(function(e){
				window.parent.location = "/log/" + this.selectedIndex;
			});
			
			var updateInterval = $("#refresh_seconds option:selected").val() * 1000;
			
			// var intervalID = setInterval("updateLog()", updateInterval);
			// clearInterval(intervalID);
			
			function updatelog() {
				// body...
			}
			
			$("#stop").click(function(){
			     clearInterval(intervalID);
			});
		});
	</script>

</head>

<body>
	<div id="header">
		<h1>Sinatra Log Viewer</h1>
		<%= erb(:log_select, :layout => false) %>
	</div>


	<div id="content">
		<h2>Logs</h2>
		<%= yield %>
	</div>
	
	<div id="footer">
		<select id="refresh_seconds">
			<option value="3">3</option>
			<option value="5">5</option>
			<option value="10">10</option>
		</select>
	</div>
</body>
</html>