<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Sinatra Log Viewer</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/jquery-1.3.2.min.js"></script>

</head>

<body>
  <div id="fileHeader">
    <h1>Sinatra Log Viewer</h1>
  </div>
  <!-- banner header -->

<div id="bodyContent">
  <div id="contextContent">
	<h2>Logs</h2>
	<p>
		<% @logs.each do |log| %>
			<a href="/log/<%= log[:id] %>"><%= log[:name] %></a> |
		<% end %>
	</p>
	
	<%= yield %>

   </div>
  </div>
</body>
</html>