<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Sinatra - Tailer</title>
	<link rel="stylesheet" href="/style/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/style/style.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="/js/application.js"></script>
</head>

<body>
<div id="container">
	<div class="clearfix" id="header">
		<img id="logo" src="/images/console.png">
		<h1>Sinatra-Tailer</h1>
		<p id="logo_caption">chasing tail since 1984</p>
	</div>
	
	<div class="clearfix" id="info-bar">
		<%= erb(:log_select, :layout => false) %>
		
		<%= erb(:path_info, :layout => false) %>
	</div>

	<div id="content">
		<div id="log_text"><%= erb(:log_text, :layout => false) %></div>
	</div>
	
	<div id="footer">
	<div id="footer_contents">
		<img id="spinner" src="/images/ajax-loader.gif" />
		<%= erb(:refresh_seconds, :layout => false) %>
		<button type="button" id="start-stop">stop</button>
	</div>
	</div>
</div>
</body>
</html>