<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Sinatra Log Viewer</title>
  <link rel="stylesheet" href="/style/reset.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/style/style.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			var selectedLog;
			function setSelectedLog() {
				selectedLog = $("#select_log option:selected").val();
			}
			
			$("#select_log").change(function(e){
				setSelectedLog();
				window.parent.location = "/log/" + selectedLog;
			});
			
			
			function updateLog() {
				setSelectedLog();
				$("#log_text").load("/log/" + selectedLog + "/log_text");
			}
			
			
			$("#refresh_seconds").change( function(){
				stopUpdate();
				startUpdate();
			});
			
			
			var intervalID;
			function startUpdate() {
				var updateInterval = $("#refresh_seconds option:selected").val() * 1000;
				intervalID = setInterval( function(){updateLog();}, updateInterval);
			}
			
			function stopUpdate() {
				clearInterval(intervalID);
			}
			
			
			$("button[id='start-stop']").click(function(){
				if ($(this).html() == "start") {
					$("#refresh_seconds").removeAttr("disabled");
					$("#spinner").show();
					$(this).html("stop");
					startUpdate();
					
				} else {
					$("#refresh_seconds").attr("disabled","disabled");
					$("#spinner").hide();
					$(this).html("start");
					stopUpdate();
					
				};
			});
			
			updateLog();
			startUpdate();
		});
	</script>

</head>

<body>
	<div id="header">
		<h1>Sinatra Log Viewer</h1>
		<%= erb(:log_select, :layout => false) %>
	</div>
	
	<div id="info-bar">
		<div id="info-text"></div>
	</div>


	<div id="content">
		<div id="log_text"></div>
	</div>
	
	<div id="footer">
		<img id="spinner" src="/images/ajax-loader.gif" />
		<select id="refresh_seconds">
			<option value="3">3 seconds</option>
			<option value="5">5 seconds</option>
			<option value="10">10 seconds</option>
			<option value="30">30 seconds</option>
		</select>
		<button type="button" id="start-stop">stop</button>
	</div>
</body>
</html>